# Eclipse
.classpath
.project
.settings/

# Netbeans
nbproject/private/
build/
nbbuild/
dist/
nbdist/
nbactions.xml
nb-configuration.xml

# Intellij
.idea/
*.iml
*.iws
*.ipr
*.eml

# Maven
log/
target/

# RStudio
.Rhistory
.RData

# Other
extra/
classes/
src/target/
output/
src/main/r/
/bin/
