src/target/
target/
*.csv
src/main/resources/csv/
src/main/resources/other/
src/main/resources/txt/
src/main/resources/resources/sif/
resources/*
FutureIdeas.txt
docker_biocontainers/
*.json
nbactions.xml
.idea/*
*.iml
*.R*
*.xml