h1 {
    /*color: cornflowerblue;*/
    color: lightgray;
    text-shadow: 1px 1px 1px #888888;
}

h2 {
    color: cornflowerblue;
    margin-left: 20px;
}

body{
    background-color: #1E1E1E;
}

div {
    box-shadow: 1px 1px 5px #888888;
}